.content-container {
  font-weight: 600;
  font-size: 25px;
}
.credit1 {
  font-size: 16px;
  color: #718ebf;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.credit-icon {
  width: 50%;
  padding: 2%;
  flex-shrink: 8;
}
.credit-section {
  border-radius: 25px;
  background-color: #fff;
  width: 50%;
  height: 120px;
  display: flex;
  flex-direction: row;
  padding: 25px 36px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  text-align: left;
  font-size: 32px;
  color: #16dbaa;
  margin: 14px;
}
