.sidebar {
  width: 30%;

  min-height: 100vh;
  padding: 20px 0px 32px 20px;
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid orange;
    padding: 20px 0px 32px 20px;
  }
}

.app-logo {
  width: 40px;
  margin-right: 8px;
}
.app-heading {
  font-size: 18px;
}
.app-header {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}
@media screen and (max-width: 576px) {
  .app-logo {
    width: 60px;
  }
  .app-heading {
    font-size: 25px;
  }
}

.tab-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  height: 60px;
  color: #505887;

  font-size: 18px;
  font-weight: 500;

  color: #505887;
  text-align: left;
}

.icon {
  margin-right: 10px;
}
.LoggedUser-container-large-devices {
  width: 100%;
  flex-shrink: 1;
  margin-right: 5%;
}
@media screen and (max-width: 576px) {
  .LoggedUser-container-large-devices {
    display: none;
  }
}
